$border_thickness: 3px;

:root{
  --black: #262626;
  --blue: #0019FF;
  --blue_light: #55C4F5;
  --dark_form: #221E1B;
  --green: #00E597;
  --grey: #BCBCBC;
  --grey_bg: #E3E3E3;
  --purple: #5B22B2;
  --purple_dark: #4919A2;
  --purple_light: #E4DDF0;
  --red: #FF3A4B;
  --yellow: #FFBA00;
  --yellow_light: #FFD44D;
  --yellow_lighter: #FFECB3;
}
